body {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  height: 100vh; /* Adjust height as needed */
  flex-direction: column;
}